{:deps {org.clojure/core.match {:mvn/version "1.0.0"}
        org.clojure/core.logic {:mvn/version "1.0.1"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        defun/defun {:mvn/version "0.3.1"}
        meander/epsilon {:mvn/version "0.0.650"}}}
